venv
venv-doc
venv_docs
.idea
.run
*.db*
**.pyc
**/__pycache__
imgui.ini
build
dist
pkg_*/build
pkg_*/dist
**/otls/backup
**/houdini/houdini.project
dcc_plugins/houdini/otls/Driver-taskflow*
pipkey*

*.log
tests/**/logs/
