aiofiles==0.6.0
aiohttp==3.7.4.post0
aiosqlite==0.17.0
async-timeout==3.0.1
attrs==20.3.0
bleach==3.3.0
build==0.3.1.post1
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
colorama==0.4.4
cryptography==3.4.7
docutils==0.17.1
glfw==2.1.0
idna==2.10
imgui==1.3.0
importlib-metadata==4.0.1
jeepney==0.6.0
keyring==23.0.1
lz4==3.1.3
multidict==5.1.0
packaging==20.9
pep517==0.10.0
pkginfo==1.7.0
psutil==5.8.0
pycparser==2.20
Pygments==2.8.1
PyOpenGL==3.1.5
pyparsing==2.4.7
PySide2==5.15.2
readme-renderer==29.0
requests==2.25.1
requests-toolbelt==0.9.1
rfc3986==1.4.0
SecretStorage==3.3.1
shiboken2==5.15.2
six==1.15.0
toml==0.10.2
tqdm==4.60.0
twine==3.4.1
typing-extensions==3.7.4.3
urllib3==1.26.4
watchdog==2.1.3
webencodings==0.5.1
yarl==1.6.3
zipp==3.4.1
