.bd-main .bd-content .bd-article-container {
    max-width: 100rem;
}

.bd-page-width {
    max-width: 105rem;
}

.bd-sidebar-primary {
    width: 18%;
}

html[data-theme=dark] img:not(.only-dark):not(.dark-light) {
  filter:brightness(.975) contrast(1.05);
}