Sphinx==4.*
sphinx-rtd-theme==0.*
sphinxcontrib-applehelp==1.*
sphinxcontrib-devhelp==1.*
sphinxcontrib-htmlhelp==2.*
sphinxcontrib-jsmath==1.*
sphinxcontrib-qthelp==1.*
sphinxcontrib-serializinghtml==1.*